.custom-btn{
  backgroud-color:#007bff;/*青*/
  color:white;/*文字色*/
  border:none;/*枠線*/
  padding:10px 20px;/*余白*/
  font-size:16px/*文字サイズ*/
  border-redius:10px;/*丸角*/
  cursor:pointer;/*マウスを乗せる*/
}
.custom-btn{
  background-color:0056b3;/*ホバー時に色を濃く*/
}
